
*{
    padding: 0;
    margin: 0;
    outline: solid white 3vh;
}

body{
    padding: 0 3vh;
    outline: solid white 3vh;
}

div{
    background-color: #B3B5B4;
}

.right-left, .right-right{
    background-color: white;
}

.all-container{
    display: flex;
    height: 100vh;
}

.right-all{
    flex: 1;
    display: flex;
    height: 100vh;
    flex-direction: column;
}

.B1{
    flex: 1;
    outline: white solid 1.5vh;
    height: 25vh;
    width: 25vh;
}

.right-all{
    display: flex;
    flex-direction: row;
}

.right-left{
    flex: 2;
    display: flex;
    flex-direction: column;
}

.right-right{
    flex: 2;
}


.c1x2{
    height: 27vh;
    flex: 1;
    margin-top: 3vh;
    outline: solid white ;
}

.A1{
    height: 67vh;
    flex: 1;
}

.c3x5{
    flex: 1;
    height: 50vh;
    margin-top: 3vh;
}

.B2{
    outline: solid white 2.5vh;
}