*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Comic Sans MS', cursive, sans-serif;
    width: 100%;
    height: 100%;
    display: flex;
    align-content: center;
    flex-direction: column;
    margin: 0 auto; 
}

nav{
    background-color: #9fc5f8;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15vh;
    padding-right: 15vh;
    height: 12vh;
    width: 100%;
}

nav h1{
    font-size: 40px;
}

.opciones{
    display: flex;
    gap: 50px;
    padding: 10px;
    font-size: 15px;
    font-weight: 200;
}

.container{
    width: 75%;
    display: flex;
    align-content: center;
    flex-direction: column;
    margin: 0 auto; 
}

.title{
    display: flex;
    justify-content: space-between;
    margin-top: 3vh;
    margin-bottom: 3vh;
    border-bottom: 2px solid black;
}

.temperature{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vh;
}

select{
    width: 9vh;
    height: 6vh;
    border: solid 2px black;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    font-size: 3vh;
}

.semana{
    display: flex;
    justify-content: space-between;
    margin-top: 3vh;
}

.dias{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
    width: 30vh;
    padding-top: 3vh;

    background-color: #eeeeee;
}

.dias img{
    width: 20vh;
    height: 20vh;
    border-radius: 10vh;
    margin-top: 3vh;
    margin-bottom: 3vh; 
}

.dias h3{
    margin-bottom: 3vh;
}

.temperaturas{
    display: flex;
    justify-content: space-between;
    gap: 10vh;
    padding-bottom: 0vh;
}

.temperatura-max{
    color: #cf2a27;
}

.temperatura-min{
    color: #2b78e4;
}

.cookie{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 10vh;
    margin-top: 2vh;
    padding: 2vh;
    border: solid 2px black;
    height: 20vh;
    align-items: center;
    gap: 2vh;
}

.cookie img{
    width: 11vh;
    height: 11vh;
}

.cookie h3{
    font-size: 4vh;
}

.cookie p {
    font-size: 3vh;
}

.accept-btn{
    padding: 1vh 2vh;
    font-size: 3vh;
    background-color: #9fc5f8;
    color: black;
    border: 2px solid black;
    box-shadow: 4px 4px 0 black;
    cursor: pointer;
    font-family: 'Comic Sans MS', cursive, sans-serif;
}

.texto-cookie{
    width: 60%;
}

.read-more{
    cursor: pointer;
    color: #095394;
    text-decoration: underline;
}