*{
    padding: 0;
    margin: 0;
    outline: solid 1px black;
}
.container{
    display: flex;
    padding: 50px 150px;
    background-color: white;
}


.izquierda{
    height: 100vh;
    flex:1
}

.derecha{
    height: 100vh;
    flex:1
}

.arriba{
    height: 50vh;
}

.uno{
    background-color: #b2b5b4;
    height: 50vh;
    width: 30vh;
}

