*{
    outline: solid 1px;
}
body { 
font-family: Arial, sans-serif; 
margin: 0; 
padding: 0;
}

header img{
    padding-top: 20px;
    margin-left: 20px;
    margin-top: 15px;
}

.principal{
    display: flex;
    height: 500px;
}

.left{
    display: flex;
    flex-direction: column;
    padding: 50px;
    justify-content: center;
    height: 80vh;
    width: 300px;
    padding-left: 200px;
    padding-right: 200px;
    align-content: space-between;
    position: relative;
    bottom: 80px;
}

.left h2{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color: #555050;
}

#primer{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:#555050;
    position: absolute;
    top: 90px; left: 200px;
}

#label-uno{
    margin-top: 45px;
}

.left input{
    margin-bottom: 20px;
    margin-top: 10px;
    height: 70px;
    border-radius: 20px;
    width: 290px;
    border: solid 1px #555050;
}

.left label{
    font-size: 13px;
    color:#555050;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.left a{
    display: flex;
    justify-content: center;
    margin-top: 25px;
    color: #4a2cc2;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 25px;
    cursor: pointer;
}

.left button{
    margin-bottom: 20px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 10px;
    height: 70px;
    width: 270px;
    cursor: pointer;
}

#ingresar-btn{
    padding-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: #00cbbf;
    color: white;
    border: none;
}

#huella-btn{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    align-content: center;
    padding-top: 15px;
    background-color: white;
    border:#00cbbf;
    color:#00cbbf;
}

#huella-btn img{
    position: relative;
    bottom: 4px; left: 20px;
}

.left p{
    position: relative;
    top: 50px; right: 150px;
    cursor: pointer;
}

.right{
    background-color: #00cbbf;
    position: relative;
    bottom: 90px; 
    padding-left: 70px;
    width: 700px;
    height: 640px;
}

.texto{
    position: relative;
    top: 220px;
    width: 500px;
}

.texto h2{
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 30px;
    font-weight: bold;
}

.texto p{
    color: white;
    font-size: 17px;
}

.texto button{
    background-color: white;
    color:#00cbbf;
    height: 40px;
    width: 260px;
    border-radius: 20px;
    display: flex;
    padding-top: 10px;
    border: none;
    cursor: pointer;
}

.texto button img{
    margin-left: 10px;
    margin-bottom: 10px;
    height: 20px;
}

#img1{
    height: 150px;
    position: relative;
    bottom: 110px; left: 290px;
}

#img2{
    height: 180px;
    position: relative;
    top: 40px; right: 80px;
}

#img3{
    height: 140px;
    position: relative;
    top: 190px; right: 50px;
}